*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    background-color: #F2F2F2;
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

/* -------------------- HEADER START ----------------------- */
.site-header__container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.site-header__list{
    display: flex;
    align-items: center;
    gap: 49px;
}

.site-header__item{
    font-family: 'DM sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -00.47px;
    color: #696871;
    transition: all 0.5s;
    padding: 10px;
}

.site-header__item:hover{
    color: #19191B;
    border-bottom: 2px solid #5454D4;
    
}

.site-header__logo-img{
    width: 200px;
}

.site-header__button{
    padding: 19px 59px;
    border-radius: 10px;
    border: none;
    background-color: #FF7143;
    cursor: pointer;

    font-family: 'DM sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.53px;
    color: #fff;
}

/* -------------------- HEADER END ----------------------- */

/* -------------------- MAIN START ----------------------- */
/* -------------------- HERO START ----------------------- */

.site-main__hero-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 111px;
    margin-bottom: 98px;
}

.site-main__title{
    font-family: 'DM sans', sans-serif;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -2.5px;
    color: #19191B;
    margin-bottom: 30px;
    line-height: 77px;
}

.site-main__text{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.63px;
    color: #696871;
    margin-bottom: 50px;
}

.site-main__button-wrapper{
    display: flex;
    gap: 40px;
}

.get-started{
    padding: 19px 59px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    font-family: 'DM sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    background-color: #5454D4;
}


.down-arrow{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid #E7E7E7;

    color: #19191B;
}
/* -------------------- HERO END ----------------------- */

/* ---------------------ADVERTISEMENT START------------- */
.site-main__adv-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;
}
/* ---------------------ADVERTISEMENT END------------- */

/* ---------------------SUBSCRIPTION START------------ */
.site-main__subscription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 102px;
}

.site-main__subscription-text-wrapper{
    max-width: 556px;
}

.site-main__subscription-title{
    font-family: 'DM sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56px;
    color: #19191B;
    margin-bottom: 30px;
}

.site-main__subscription-text{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.63px;
    color: #696871;
    margin-bottom: 30px;
}

.site-main__learn-more{
    font-family: 'DM sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: -0.53px;
    color: #5454D4;
}
/* ---------------------SUBSCRIPTION END ------------- */

/* ---------------------METRICS START----------------- */
.site-main__metrics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 119px;
}

.site-main__metrics-text-wrapper{
    max-width: 556px;
}

.site-main__metrics-title{
    font-family: 'DM sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56px;
    color: #19191B;
    margin-bottom: 30px;
}

.site-main__metrics-text{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.63px;
    color: #696871;
    margin-bottom: 30px;
}
/* ---------------------METRICS END ------------------ */

/* ---------------------PRICING START----------------- */
.site-main__pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-main__pricing-card{
    max-width: 307px;
    text-align: center;
}

.site-main__pricing-img{
    width: 151px;
    margin-bottom: 7px;
}

.site-main__pricing-title{
    font-family: 'DM sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.75px;
    color: #19191B;
    margin-bottom: 20px;
}

.site-main__pricing-info{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #696871;
}
/* ---------------------PRICING END----------------- */

/* ----------------------PLANS START-------------------- */
.site-main__plan{
    margin-top: 150px;
    margin-bottom: 158px;
}
.site-main__plan-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-main__plan-title{
    font-family: 'DM sans', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.88px;
    color: #19191B;
    max-width: 523px;
}

.site-main__plan-buttons-wrapper{
    width: 346px;
    padding: 5px;
    background-color: #F7F7FB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    width: 50%;
    padding: 18px 0;
    border: none;
    background-color: transparent; 
    transition: all 0.5s;

    color: #19191B;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.button:hover{
    background-color: #5454D4;
    color: #fff;
}

.button:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.button:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.site-main__plan-card-wrapper{
    display: flex;    
    flex-direction: row;
    gap: 30px;
}

.site-main__plan-card{
    margin-top: 82px;
    width: 376px;
    background-color: #EAE9F2;
    border-radius: 10px;
    padding-top: 34px;
    padding-bottom: 27px;
    margin-bottom: 30px;
    text-align: center;
    transition: all 0.5s;
}

.site-main__plan-card-title{
    font-family: 'DM sans', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -1.03px;
    color: #1D293F;
    margin-top: 22px;
    margin-bottom: 28px;
}

.card-info{
    font-family: 'DM sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.56px;
    color: #696871;
    margin-bottom: 40px;
}

.getstarted{
    padding: 19px 42px;
    margin-top: 36px;
    margin-bottom: 27px;
    border-radius: 10px;
    border: none;
    width: 285px;

    color: #5454D4;
    font-size: 17px;
    font-family: 'Dm sans', sans-serif;
    font-weight: 700;
    line-height: auto;
    letter-spacing: -0.53px;
}

.site-main__plan-card:hover{
    background-color: #FF7143;
    color: #fff;
    transform: scale(1.2);
}

.site-main__plan-card:hover, 
.site-main__plan-card:hover .card-info,  
.site-main__plan-card:hover .site-main__plan-card-title {
    color: #fff;
}

.site-main__plan-card:hover .getstarted{
    background-color: #9F3919;
    color: white;
}

/* ----------------------PLANS END --------------------- */
/* -------------------- MAIN END ----------------------- */
